{% extends 'base.html' %} {% block content %}

    <h1 style="text-align: center">About Valley FC</h1>
    <hr />
    <img src="https://scontent-lax3-2.xx.fbcdn.net/v/t39.30808-6/274681277_123643013555383_8003427210232845248_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=730e14&_nc_ohc=i-SpMDDBuTwAX_bfpdO&_nc_ht=scontent-lax3-2.xx&oh=00_AT8MFBpMrfL59s2onKfzirBXz5NtPmoBwI47JqSFfOOFZQ&oe=621C627A" alt="">
    
    <p>Valley FC is a soccer club originated out of the San Fernando Valley. When I (Freddy Vences) founded Valley FC in July of 2021. 
        My goal was to give back, through soccer. I was recruited to play club soccer as a young athlete but I never had the resources, support system, and money to continue on that path. 
        On a minimum wage, I clearly understood why my parents could simply not afford those high monthly premiums to participate. I am still grateful for everything my parents did for me.  
        To me, it was more than enough. I was content with just playing the game, it was all I had at the time and daily I used to spend 7+ hours practicing at the "canchitas" with dreams to one day play college or go pro. 
        "Only if I would have gotten the opportunity!" I'm sure that is what a lot of kids who grew up like me have said and are currently saying. Things happen for a reason. 
        I still cherish all those memories of me playing soccer growing up. 
        That is why this project is designed to give the opportunity to kids who may be limited like I once was, to play club soccer by making it affordable, fun, competitive, and most importantly focusing on player development. 
        Building connections and exposing our kids to city, state, national tournaments are on the bucket list which we believe could lead to them being seen by bigger clubs or college/pro scouts someday. 
        We are a small and new club with high aspirations. As we prepare for club soccer in the near future, we are excited about how far weve come. 
        Currently hosting 3 divisions 2016/2017 (few spots left), 2014/2015 (full), 2010/2011 (full), and 2012/2013 which is coming by summer. I am thankful for all those who are already part of the team. 
        Players, coaches, team managers, parents, I couldnt do it alone. Intro's coming soon! Thanks for joining us and welcome once again! Based out of the San Fernando Valley.</p>
    

    {% endblock %}