
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Bebas Neue', cursive;
  }
  
  main {
    flex: 1 0 auto;
    
  }
  
  footer {
    padding-top: 0;
    
  }

img {
  width: 100%;
}

ul {
  background-color: rgb(54, 0, 0);
}

nav {
  background-color: rgb(54, 0, 0);
}